  <div class="container">
    <div class="alert alert-danger">
    <strong>This page is place holder for updating user profile!!! Functionality is not implemented.</strong>
  </div>

    <h1>Edit Profile</h1>
    <hr>
  <div class="row">            
      <div class="col-md-4 personal-info">              

        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form" id="presonalinfo">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-9">
              <input class="form-control" name="first_name" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-9">
              <input class="form-control" name="last_name" type="text" value="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Phone: </label>
            <div class="col-lg-9">
              <input class="form-control" name="phone" type="text" value="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Date of birth</label>
            <div class="col-lg-9">
              <input class="form-control" name="dob" type="text" value="" placeholder="mm/dd/yyyy">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-9">
              <input class="form-control" name="email" type="text" value="">
            </div>
          </div>
                        
          <div class="form-group">
            <label class=" control-label"></label>
            <div class="col-md-10">
              <input type="button" class="btn btn-primary" id="updateperinfo" value="Update">
              <span></span>
              <input type="reset" class="btn btn-default" value="Reset">
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/7_avatar-512.png" class="avatar img-circle" alt="avatar" style='width:200px;height:200px'>
          <h6>Upload a different photo...</h6>          
          <input type="file" class="form-control">
        </div>
      </div>

      <form class="col-md-4 login-info" id="logininfo">      
        <h3>Login Info</h3>
        <div class="form-group">
            <label class=" control-label">Username:</label>
            <div class="col-md-10">
              <input class="form-control" name="username" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class=" control-label">Password:</label>
            <div class="col-md-10">
              <input class="form-control" name="password" type="password" value="">
            </div>
          </div>

          <div class="form-group">
            <label class=" control-label">Password:</label>
            <div class="col-md-10">
              <input class="form-control" name="password1" type="password" value="">
            </div>
          </div>
          <div class="form-group">
            <label class=" control-label"></label>
            <div class="col-md-10">
              <input type="button" class="btn btn-primary" id="updatelogininfo" value="Update">
              <span></span>
              <input type="reset" class="btn btn-default" value="Reset">
            </div>
          </div>
        </from>
  </div>
</div>
<hr>